// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
	font-size: 13px;
	line-height: 18px;
	margin: 33px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: black;
}

h1,h2 {
	margin: 17px 0;
}


th {
	padding: 5px;
}

td {
	padding: 0 5px 7px 5px;
}

label {
	display: block;
}

div {
	margin-bottom: 10px;
}

a {
	color: black;
}

a:visited {
	color: #666;
}

a:hover {
	color: white;
	background-color: black;
}

p {
	margin: 33px;
	font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

span {
	font-weight: bold;
}

.flash {
	color: green;
}

.root {
	margin: 33px;
}

#error_explanation {
	border: solid 2px #DD0000;
	width: 450px;
}

#error_explanation h4 {
	background-color: #DD0000;
	color: white;
	padding: 5px;
}

#error_explanation ul {
	padding-top: 30px;
    padding-left: 80px;
    padding-bottom: 30px;
    background-color: #f0f0f0;
}

#error_explanation li {
	font-size: 12px;
    list-style: square;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

.field_with_errors {
	padding: 2px;
    background-color: red;
    display: table;
}

.field_with_errors:nth-child(odd) {
	padding: 2px;
    background-color: red;
    display: table;
    margin-bottom: 0px;
}

